@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
}

.ql-editor {
    font-size: 1.05rem;
    color: white;
}

.post-content p {
    margin-bottom: 0.5rem;
    /* font-size: 18px; */
}

.post-content h1 {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: sans-serif;
    margin: 1.5rem 0;
}

.post-content h2 {
    font-size: 1.4rem;
    font-family: sans-serif;
    margin: 1.5rem 0;
}

.post-content a {
    color: rgb(73, 149, 199) !important;
    text-decoration: none !important;
}

.post-content a:hover {
    text-decoration: underline !important;
}

.dark .post-content a {
    color: red !important;
}

/* make scroolbar stylish start here .  */
/* Scrollbar styling */
.scrollbar-colored::-webkit-scrollbar {
    height: 8px;
    /* For horizontal scrollbars */
}

.scrollbar-colored::-webkit-scrollbar-track {
    background: #dc7474;
    /* Light track background */
}

.scrollbar-colored::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #c46818, #ff57ab);
    border-radius: 9999px;
}

/* Firefox support */
.scrollbar-colored {
    scrollbar-width: thin;
    scrollbar-color: #2bc41e #cf6083;
}


/* make scroolbar stylish end here.  */